html {
    font-size: 15px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

// font-family: 'Balsamiq Sans', cursive;
// font-family: 'Open Sans', sans-serif;
body {
    margin: 0;
    color: $black;
    font-size: 1rem;
    font-family: 'Balsamiq Sans', cursive;
    &.no-scroll {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container {
    width: 100%;
    max-width: 83.333rem;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    &.modal {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    color: $light;
    text-decoration: none;
    border: 2px solid $dark-blue;
    border-radius: 1.8em;
    padding: 1em 1.8em;
    box-shadow: 0 0 10px $dark-blue;
    background-color: $dark-blue;
    font-family: inherit;
    line-height: 1.1;
    cursor: pointer;
    min-width: 170px;
    text-align: center;
    transition: background-color .2s linear, color .2s linear, box-shadow .2s linear, border-color .2s linear;
    &:focus {
        outline: none;
    }
    &:hover {
        border: 2px solid $blue;
        background-color: $light;
        box-shadow: 2px 2px 15px $blue;
        color: $black;
    }
}

.title {
    color: $black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

button {
    background: none;
    border: none;
}

.burger {
    display: none;
}

.hide {
    display: none !important;
}